.segment{
	display: flex;	
	flex-direction: row;
	justify-content: space-between;
}
.transferData{
	display: flex;
	flex-direction: column;
}
.title{
	font-size: 12px;
	line-height: 18px;
	color: #A0B0B9;
	letter-spacing: 0.5px;
	font-weight: 600;
}
.body{
	color: #4A4A4A;
	line-height: 21px;
	font-size: 14px;
	font-weight: 600;
}