@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
.checkBox{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
  }
  .custom-checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	
  }
  .custom-checkbox+label::before {

	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1.5px solid #adb5bd;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
	
  }
  .custom-checkbox:checked+label::before {
	border-color: #9ABBCE;
	
	background-image: url("../../images/Shape.png");
  }

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
	border-color: #b3d7ff;
  }
  /* стили для активного состояния чекбокса (при нажатии на него) */
  .custom-checkbox:not(:disabled):active+label::before {
	background-color: #b3d7ff;
	border-color: #b3d7ff;
  }
  /* стили для чекбокса, находящегося в фокусе */
  .custom-checkbox:focus+label::before {
	// box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
  }
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  .custom-checkbox:focus:not(:checked)+label::before {
	border-color: #80bdff;
  }
  /* стили для чекбокса, находящегося в состоянии disabled */
  .custom-checkbox:disabled+label::before {
	background-color: #e9ecef;
  }
