html{
	height: 100vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
	box-sizing: border-box;
	height: 100vh;
	padding: 50px 103px;
	display: flex;
	flex-direction: column;
	
	width: 100%;
	position: relative;
	gap: 50px;
}
.logo{
	width: 100%;
	display: flex;
	justify-content: center;
	img{
		width: 60px;
		height: 60px;
	}
}
.main{
	display: flex;

	.checkBox{

	}
	.tickets{
		.ticketsOptionsList{
			display: flex;
			padding-left: 0;
			margin: 0;

		}
		.ticketsOption{
			list-style-type: none; 
		}
	}
}

